<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Polls</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style>
	html, body { height: 100%; padding: 0; margin: 0; position: relative; background: url("http://www.borongaja.com/data_images/out/5/593917-blue-brick-wall.jpg") center center; background-repeat: no-repeat; background-size: cover; overflow: hidden; opacity:0.9; }
	h1, nav {padding:0; margin:0; }
	</style>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="/polls/"><b><i>My Polls</i></b></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/polls/">Home</a></li>
					<li class="active"><a href="/polls/questions/">Start Voting</a></li>
					<li><a href="/polls/selectquestion/">See Resuls</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a><span class="glyphicon glyphicon-user"></span> {{ user.username }} </a></li>
					<li><a href="/polls/logout/"><span class="glyphicon glyphicon-log-out"></span> logout </a></li>
				</ul>
			</div>
		</div>
	</nav><h1 style="color:#111111">Choose a question to vote-</h1>
	{% if latest_question_list %}
	<table class="table table-hover col-md-12" style="background-color:#999999">
		<thead><tr>
			<th class="col-md-9"><b><h4> Question </h4></b></th>
			<th class="col-md-3"><b><h4> Publised On </h4></b></th>
		</tr></thead>
		<tbody>
	{% for question in latest_question_list %}
		<tr onclick="location.href='{% url 'polls:detail' question.id %}';"><td><b> {{ question.question_text }}</b></td>
		<td><b>{{ question.pub_date }}</b></td></tr>

	{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No polls are available.</p>
	{% endif %}
</body>
</html>
