<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Polls</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="/polls/">My Polls</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/polls/">Home</a></li>
					<li><a href="/polls/questions/">Start Voting</a></li>
					<li class="active"><a href="/polls/selectquestion/">See Resuls</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a><span class="glyphicon glyphicon-user"></span> {{ user.username }} </a></li>
					<li><a href="/polls/logout/"><span class="glyphicon glyphicon-log-out"></span> logout </a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
		<Li><a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
	{% else %}
	<p>No polls are available.</p>
	{% endif %}
</body>
</html>
